@font-face {
    font-family:alat;
    src: url(./design/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: por;
    src: url(./design/MYFONT.ttf);
}

header{
    min-height: 100vh;
     background-image: url(./images/desktop/image-hero.jpg), linear-gradient(transparent, rgb(65, 65, 65));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
      padding:  80px 155px 100px 155px; 
    
}


.ul-1{
    display: flex;
    gap: 2rem;
    list-style: none;
    color: antiquewhite;
    font-size: 15px;
    font-weight: 400;
    font-family: por;
    align-items: center;

}
header p{
    color: aliceblue;
    font-size: 70px;
    border: solid white;
    font-family: alat;
    max-width: 600px;
   margin-left: 150px;
   padding: 22px;
    font-weight: 200;   
}
.section-2{

    margin: 165px;
     position: relative;   
   
}

   

.inter-img{
    display: block;
    width: 790px;
}

.note{
    position: absolute;
    top: 200px;
    left: 51%;
    max-width: 700px;
    background-color: aliceblue;
    padding: 100px;
    padding-right: 0%;
    font-family: por;  
}
.note h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-family: alat;
    font-weight: 350;
    
}
.note p{
    line-height: 1.7;
    font-size: 17px;
    color: rgb(155, 155, 155);
    max-width: 495px;
}
.section-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 19rem;
    
   
}
.section-3 p{
    font-size: 50px;
    font-family: alat;
    font-weight: 300;
    
}
.section-3 button{
    background-color: black;
    color: aliceblue;
   font-size: 15px;
    padding-left: 40px;
    padding-right: 40px ;
    padding-top:10px ;
    padding-bottom:10px ;
    font-family: por;
    font-weight: 100;
    word-spacing: 0.2rem;
    letter-spacing: 0.3rem;
    border-radius: 3px;   
}
.section-3 button:hover{
    background-color:white;
    color: black;
    transform: scale(1.08);
}






.section-4{
    margin: 50px  155px 0px 155px ;
    height: 150vh;
}
.content-box{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    height: 135vh;
}
.box-1{
    background-image: url(./images/desktop/image-deep-earth.jpg), linear-gradient(transparent, black);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;

}


.box-2{
    background-image: url(./images/desktop/image-night-arcade.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;
} 
.box-3{
    background-image: url(./images/desktop/image-soccer-team.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;
} 
.box-4{
    background-image: url(./images/desktop/image-grid.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;
}
.box-5{
    background-image: url(./images/desktop/image-from-above.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;
}
.box-6{
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;
}
.box-7{
    background-image: url(./images/desktop/image-curiosity.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;
}
.box-8{
    background-image: url(./images/desktop/image-fisheye.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    margin: 15px;
    color: aliceblue;
    font-size: 40px;
    justify-content: center;
    align-content: end;
    padding: 25px;
    font-family: alat;
    font-weight: 200;
    }
    
    
    footer{
        border: solid black;
        height: 25vh;
        background-color: black;
        padding:50px 180px 60px 180px; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .nav-2{
        display: flex;
        flex-direction: column;
        height: auto;
    }
.social-logo{
    display: flex;
    transform: scale(10px);
    gap: 1rem;
}
.soc-img{
width: 25px;
height: 25px;
}
.nav-3{
    color: white;
    display: flex;
    flex-direction: column;
   align-items: end;
   
}
.ul-2{
    display: flex;
    margin-top: 20px;
    list-style: none;
    gap: 1.5rem;
    font-size: 14px;
    font-family: por;
    color: aliceblue;
    font-family: por;

}
.close{
    font-size: small;
    font-family: por;
    color: rgb(143, 143, 143);
    margin-top: 20px;
}
.btm-logo{
    width: 5cm;
}


.box-1:hover,
.box-2:hover,
.box-3:hover,
.box-4:hover,
.box-5:hover,
.box-6:hover,
.box-7:hover,
.box-8:hover {
    transform: scale(1.05); 
    opacity: 0.5;
}
.l-1{
    position: relative;
    text-decoration: none;
    padding: 0;
}
 .l-1:after{
content: "";
position: absolute;
background-color: aliceblue;
height: 2px;
width: 0;
left: 20%;
right: 5%;
bottom: -1px;
 }
.l-1:hover:after{
    width: 60%;
    transition: 0.5s;
    ;
}
.sidebar{
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 400px;
    z-index: 999;
    background-color: rgba(1, 3, 32, 0.904);
    box-shadow: -10px 0 10px rgb(109, 59, 52);
    color: aliceblue;
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 25px 0px 0px 30px;
    gap: 1.5rem;
    backdrop-filter: blur (10px);
    font-family: por;
}
.side-head{
    display: flex;
    gap: 10rem;
    padding-bottom:100px;
    padding-top: 0px;
; max-height: 150px;
}
.sidebar img{
    box-sizing: border-box;
    height: 28px;
}

   

.sidebar-li{
    width: 100%;
    font-size: 25px;
    text-transform: capitalize;
    color: rgb(250, 250, 250);
    font-family: alat;
    font-weight: 300;
}
.sidebar-li:hover{
    width: 100%;
    background: black;
    color: white;
    transform: scale(1.1); 
    opacity: 0.5;
}
.l-1:hover{
    transform: scale(1.2);
}


.menu{
    display: none;
}

@media(max-width:1200px) {
    header nav{

     padding:  100px 100px 100px 100px;
    }
    .menu{
        display: block;
    }

    header p{
        color: aliceblue;
        font-size: 70px;
        font-family: alat;
        max-width: 600px;
       margin-left: 100px;
       padding: 22px;
        font-weight: 200;   
    }
    
    .section-2{
        margin: 50px;     
    }

    .inter-img{
        display: block;
        width: 600px;
        height: 400px;
    }

    .note{
        position: absolute;
        top: 150px;
        left: 50%;
        max-width: 700px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 0%;
        
    }
    .note p{
        line-height: 1.5;
        max-width: 700px;
        margin: 0%;
    }

    .section-4{
        margin: 0;
        height: 170vh;  
    }
.content-box{
    height: 150vh;
    margin: 50px;
}
    
.box-1{
     margin: 10px;
       }
.box-2{
      margin: 10px;
       }
.box-3{
       margin: 10px;
       }
 .box-4{
       margin: 10px;
       }
 .box-5{
       margin: 10px;
        }
  .box-6{
        margin: 10px;
        }
  .box-7{
         margin: 10px;
        }
   .box-8{
        margin: 10px;
         }

         footer{
            height: 30vh;
            background-color: black;
            padding-top: 20px;
            padding-left: 0px;  
            padding-right: 0px;
        }
        .nav-2{
            display: flex;
            justify-content: space-around;
            align-content: center;
           padding-top: 20px;
            gap: 30rem;
           

        }

        .nav-3{
           
            display: flex;
            justify-content: space-around;
            align-content: center;
           padding-top: 20px;
           padding-bottom: 20px;
            gap: 21rem;
           
            
        }
        .close{
            display: flex;
        }
       }


       @media(max-width:768px) {
        
        header{
            max-height: 100vh;
            background-image: url(./images/mobile/image-hero.jpg);
            background-position: center;
            background-size: cover;
            margin-top: 0%;
            ;
            
        }
        header nav{
            padding: 0px;
            display: block;
            margin:0px 10px 0px 10px;
            display: flex;
        }
        #nav-top{
            padding-top: 30px ;
            position: static;
        }
        header p{  
           margin:150px 12px 0px 12px;
           padding: 25px;
           font-size: 45px;
           min-width: auto;
               
        }
        .l-1{
            display: none;
        }
        
        .logo-img{
            width: 3.9cm;
            max-width: 3.9cm;
        
        }
        .logo{
            max-width: 3.9cm;
        
        }
        .section-2{
            height: 100vh;
            flex-direction: column;
            justify-content:space-between;
            margin: 50px 10px 10px 10px ;
            padding: 10px;
          
        
        }
        .inter-img{
          position: static;
          width: 345px;
          height: 250px;
          max-width: auto;
        
          

        }
        .note{
            position: static;
            text-align: center;
            max-width: auto;
            margin-top: 50px;
            padding: 10px;
        }
        .note h1{
            font-size: 40px;
          
        }
        .note p{
            line-height: 2rem;
        }

       .section-3{
        display: flex;
        gap: 0;
        justify-content: center;
       }
        


        .section-3 p{
            margin: 50px 0px 0px 0px;
            font-size: 40px;
         text-align: center;

        }
        .section-3 button{
            position: absolute;
            top: 430vh;
            right: 30%;
            background-color: aliceblue;
            color: black;
        }
        .section-3 button:hover{
            background-color: black;
            color: aliceblue;
        }


        .section-4{
            margin: 40px 0px 0px 0px;
            padding: 0%;
            height: 220vh
            
        }


        .content-box{
            display: grid;
            grid-template-columns: 1fr;
            height: auto;
            padding: 0%;
            margin: 50px 0px 0px 0px;
        }


        .box-1{
           background-image: url(./images/mobile/image-deep-earth.jpg),linear-gradient(to right, rgb(58, 56, 56),transparent);
           background-blend-mode: darken;
           padding: 10%;
           margin: 15px;
           height: 20vh;
            font-size: 30px;
            display:grid;
          grid-template-columns: 1fr 1fr;
          padding: 30px 20px 20px 20px;
        
        }
        
        
        .box-2{
            background-image: url(./images/mobile/image-night-arcade.jpg),linear-gradient(to right, rgb(58, 56, 56),transparent);
            background-blend-mode: darken;
            padding: 10%;
            margin: 15px;
            height: 17vh;   height: 20vh;
            font-size: 30px;
            display:grid;
          grid-template-columns: 1fr 1fr;
          padding: 30px 20px 20px 20px;
        } 
        .box-3{
            background-image: url(./images/mobile/image-soccer-team.jpg),linear-gradient(to right, rgb(58, 56, 56),transparent);
            background-blend-mode: darken;
            padding: 10%;
           margin: 15px;
           height: 20vh;
           font-size: 30px;
           display:grid;
         grid-template-columns: 1fr 1fr;
         padding: 30px 20px 20px 20px;
        } 
        .box-4{
            background-image: url(./images/mobile/image-grid.jpg),linear-gradient(to right, rgb(58, 56, 56),transparent);
            background-blend-mode: darken;
            padding: 10%;
           margin: 15px;
           height: 20vh;
            font-size: 30px;
            display:grid;
          grid-template-columns: 1fr 1fr;
          padding: 30px 20px 20px 20px;
        }
        .box-5{
            background-image: url(./images/mobile/image-from-above.jpg),linear-gradient(to right, rgb(58, 56, 56),transparent);
            background-blend-mode: darken;
            padding: 10%;
           margin: 15px;
           height: 20vh;
           font-size: 30px;
           display:grid;
         grid-template-columns: 1fr 1fr;
         padding: 30px 20px 20px 20px;
        }
        .box-6{
            background-image: url(./images/mobile/image-pocket-borealis.jpg),linear-gradient(to right, rgb(58, 56, 56),transparent);
            background-blend-mode: darken;
            padding: 10%;
           margin: 15px;
           height: 20vh;
           font-size: 30px;
           display:grid;
         grid-template-columns: 1fr 1fr;
         padding: 30px 20px 20px 20px;
        }
        .box-7{
            background-image: url(./images/mobile/image-curiosity.jpg),linear-gradient(to right, rgb(58, 56, 56),transparent);
            background-blend-mode: darken;
            padding: 10%;
           margin: 15px;
           height: 20vh;
           font-size: 30px;
           display:grid;
         grid-template-columns: 1fr 1fr;
         padding: 30px 20px 20px 20px;
        }
        .box-8{
            background-image: url(./images/mobile/image-fisheye.jpg), linear-gradient(to right, rgb(58, 56, 56),transparent);
            background-blend-mode: darken;
            padding: 10%;
            margin: 15px;
            height: 20vh;
            font-size: 30px;
            display:grid;
          grid-template-columns: 1fr 1fr;
          padding: 30px 20px 20px 20px;
            }
            
            footer{
                height: 60vh;
               display: grid;
               grid-template-columns: 1fr;
               padding: 0%;
               margin-top: 30px;
               gap: 1rem;

            }
            .nav-2{
                display: flex;
                gap: 0rem;
                align-items: center;
                max-height: 40vh;
               
            }
            .nav-3{
               gap: 0rem;
               align-items: center;
               max-height: 15vh;
               margin-top: 0px;
            }
            
            
            .ul-2{
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
               text-align: center;
               font-size: 16px;
              
            
            }
            
       }
      